* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "游ゴシック", "游ゴシック体", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    "ＭＳ ゴシック", "MS Gothic", HiraKakuProN-W3, "TakaoExゴシック",
    TakaoExGothic, "MotoyaLCedar", "Droid Sans Japanese", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1a2a;
  color: #a2a2f4;
}

a,
a:link,
a:visited,
a:focus,
a:hover {
  color: #ffc2ff;
  text-decoration: none;
}

a:hover {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #212131;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15),
    0px 6px 12px 0px rgba(0, 0, 0, 0.15);
}

header h2 {
  margin: 1em;
  padding: 0;
}

header nav li {
  padding: 1em;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1em;
}

.card-material {
  border: 1px solid #a2a2f4;
  border-radius: 1em;
  min-height: 40vh;
  text-align: center;
  padding: 1em;
}

.title-with-description {
  margin-bottom: 0;
  padding-bottom: 0;
}

.description {
  margin-top: 0;
  padding-top: 0;
  font-style: italic;
}

kbd {
  font-family: Consolas, "Lucida Console", monospace;
  display: inline-block;
  border-radius: 3px;
  padding: 0px 4px;
  box-shadow: 1px 1px 1px #777;
  margin: 2px;
  font-size: small;
  vertical-align: text-bottom;
  background: #eee;
  font-weight: 500;
  color: #555;
  font-variant: small-caps;
  font-weight: 600;

  /* This two work */
  /* letter-spacing: 0.5px; */
  letter-spacing: 1px;


  /* Prevent selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}